In [1]:
import pandas as pd
import requests
import numpy as np
import Oanda_Manager as om

In [2]:
account = pd.read_csv('Account_details.csv')
API_KEY=account.iloc[0, 0]
Account_ID=account.iloc[0, 1]
Oanda_URL=account.iloc[0, 2]
oandaAcc =  om.Oanda_Manager(API_KEY,Account_ID, Oanda_URL,{'Authorization': f'Bearer {API_KEY}'})
print(oandaAcc.account_list())

(200, {'accounts': [{'id': '101-004-19105515-001', 'tags': []}]})

In [3]:
asset_name="SPX500_USD"
count=1000
granularity="H4"
candle_data = oandaAcc.read_instrument_candles(asset_name, count, granularity)

In [4]:
candle_data.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2020-09-21T13:00:00.000000000Z,72962,3271.4,3278.2,3230.2,3245.2,3271.1,3278.1,3230.0,3245.1,3271.7,3278.4,3230.3,3245.4
1,2020-09-21T17:00:00.000000000Z,35432,3245.6,3291.4,3234.2,3286.1,3245.4,3291.2,3234.0,3285.9,3245.7,3291.7,3234.3,3286.3
2,2020-09-21T21:00:00.000000000Z,7553,3284.9,3301.7,3282.0,3295.2,3284.7,3301.5,3281.7,3295.0,3285.1,3301.9,3282.2,3295.4
3,2020-09-22T01:00:00.000000000Z,14597,3295.2,3295.7,3277.0,3286.2,3294.9,3295.5,3276.8,3285.9,3295.5,3295.9,3277.2,3286.5
4,2020-09-22T05:00:00.000000000Z,21433,3286.2,3288.4,3268.9,3282.0,3286.0,3288.2,3268.7,3281.8,3286.4,3288.7,3269.1,3282.2