In [1]:
import pandas as pd
import requests
import numpy as np
import Oanda_Manager as om

In [2]:
account = pd.read_csv('Account_details.csv')
API_KEY=account.iloc[0, 0]
Account_ID=account.iloc[0, 1]
Oanda_URL=account.iloc[0, 2]
oandaAcc =  om.Oanda_Manager(API_KEY,Account_ID, Oanda_URL,{'Authorization': f'Bearer {API_KEY}'})
print(oandaAcc.account_list())

(200, {'accounts': [{'id': '101-004-19105515-001', 'tags': []}]})

In [6]:
asset_name="SPX500_USD"
count=1000
granularity="H4"
candle_data = oandaAcc.read_instrument_candles("SPX500_USD", 3, "D")

In [7]:
candle_data.head()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2021-05-11T21:00:00.000000000Z,223432,4147.5,4157.3,4058.0,4058.7,4147.3,4157.1,4057.8,4058.5,4147.7,4157.5,4058.2,4058.9
1,2021-05-12T21:00:00.000000000Z,213659,4061.2,4132.8,4035.6,4117.0,4060.9,4132.7,4035.3,4116.8,4061.5,4133.0,4035.8,4117.2
2,2021-05-13T21:00:00.000000000Z,76524,4116.0,4184.0,4111.2,4179.0,4115.8,4183.7,4111.0,4178.8,4116.2,4184.2,4111.4,4179.2