# Prueba: Ópalo Quant Capital

## 2 Programacion

In [1]:
###################################################################################################
# Project    : Prueba Opalo Quant Capital
# Lenguaje   : Python / jupyter
# Description: Seccion de programacion
#
# References : 
# Git Control:
# Author - Year:Camilo Blanco Vargas - 2020
# Mail         :mail@camiloblanco.com 
###################################################################################################

In [2]:
# Import the necesary libraries
import math
import numpy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#1) construya  dicicionarios {nombre: estatrura}, {nombre: peso}, {nombre: señal_1},, {nombre: señal_2}

nombres =  [ "nicolas","samuel","mario","andrres","camilo"]

estatura = [ 1.70, 1.72,  1.75,  1.90,  1.68 ]
peso     = [ 67, 69,  72,  87,  65 ]

señal_1 = [ False,True,True,True,False]
señal_2 = [ True,True,False,True,True]

In [4]:
#Usign zip function
dictionary1 = dict(zip(nombres, estatura))
dictionary2 = dict(zip(nombres, peso))
dictionary3 = dict(zip(nombres, señal_1))
dictionary4 = dict(zip(nombres, señal_2))
print(dictionary1)
print(dictionary2)
print(dictionary3)
print(dictionary4)

{'nicolas': 1.7, 'samuel': 1.72, 'mario': 1.75, 'andrres': 1.9, 'camilo': 1.68}
{'nicolas': 67, 'samuel': 69, 'mario': 72, 'andrres': 87, 'camilo': 65}
{'nicolas': False, 'samuel': True, 'mario': True, 'andrres': True, 'camilo': False}
{'nicolas': True, 'samuel': True, 'mario': False, 'andrres': True, 'camilo': True}

In [5]:
#2) construya una funcion en la que se retorne un dicionario con {nombre: IMC} donde
# (IMC) indice de masa corporal = peso dividido la estatura al cuadrado

#function
def imc_dico(nombres,estatura,peso):  #Parameters are passed using Call-by-Object
    estaturaArr = numpy.array(estatura)
    pesoArr = numpy.array(peso)
    estaturaArrPow=np.square(estaturaArr)
    IMC=pesoArr/estaturaArrPow
    dico = dict(zip(nombres, IMC))
    return dico
#execution
dicoImc=imc_dico(nombres,estatura,peso)
print(dicoImc)

{'nicolas': 23.18339100346021, 'samuel': 23.323418063818284, 'mario': 23.510204081632654, 'andrres': 24.099722991689752, 'camilo': 23.030045351473927}

In [6]:
# 3) con los resultados construya un df con las columnas "nombre"	"estatura"	"peso"	"imc"	señal_1	señal_2 

#Dic to list
imc=list(dicoImc.values())
#Make the df
df = pd.DataFrame(
    {'nombre': nombres,
     'estatura': estatura,
     'peso': peso,
     'imc': imc,
     'señal_1':señal_1,
     'señal_2': señal_2,
    })
df.head()

    nombre  estatura  peso        imc  señal_1  señal_2
0  nicolas      1.70    67  23.183391    False     True
1   samuel      1.72    69  23.323418     True     True
2    mario      1.75    72  23.510204     True    False
3  andrres      1.90    87  24.099723     True     True
4   camilo      1.68    65  23.030045    False     True

In [7]:
## 4) construya una funcion que recorra el dataframe 
#     y retorne el resultado  multiplicar  el "imc" por raiz cuadrada de la "estatura" donde la la señal_1 ==  True y la señal_2 sea == False

#Filter function with bitwise operators for Pandas
def filtro(estatura,imc,s1,s2):
    return imc*(estatura**(1/2))*s1*(~s2)
#Execuation
resultado=filtro(df["estatura"],df["imc"],df["señal_1"],df["señal_2"])
print(resultado)

0     0.000000
1     0.000000
2    31.101077
3     0.000000
4     0.000000
dtype: float64

In [8]:
## 5) inserte los resultado del recorrido de la  funcion en una columna nueva del dataframe con el nombre de "resultado"
#Add df colum with the pandas series
df["resultado"]=resultado
df.head()

    nombre  estatura  peso        imc  señal_1  señal_2  resultado
0  nicolas      1.70    67  23.183391    False     True   0.000000
1   samuel      1.72    69  23.323418     True     True   0.000000
2    mario      1.75    72  23.510204     True    False  31.101077
3  andrres      1.90    87  24.099723     True     True   0.000000
4   camilo      1.68    65  23.030045    False     True   0.000000

In [9]:
## 6) separe en un nuevo dataframe los datos de "camilo y de nicolas"
#use df query to filter with bitwise operators for Pandas
newdf = df.query('nombre == "camilo" | nombre == "nicolas"')
newdf.head()

    nombre  estatura  peso        imc  señal_1  señal_2  resultado
0  nicolas      1.70    67  23.183391    False     True        0.0
4   camilo      1.68    65  23.030045    False     True        0.0